.banner {
	color: black;
	text-align: right;
	padding: 32px;
	border-bottom: solid 3px black;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: center;
}

.title {
	padding-left: 16px;
}

.logo {
    align-items: left;
	height: 120px;
	width: 120px;
}