.wrapper {
  margin: 0 20%;
}
.continue {
  display: block;
  background-color: #F0C808;
  color: white;
  border: 1px solid #F0C808;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.2s linear;
}
.continue:hover {
  background-color: transparent;
  color: #086788;
}
